---
import ObjClasses from '/src/pages/conceitos/ObjClasses.astro';
import Polimorfismo from "../pages/conceitos/Polimorfismo.astro";
import Heranca from "../pages/conceitos/Heranca.astro";
import Encapsulamento from "../pages/conceitos/Encapsulamento.astro";
import Abstracao from "../pages/conceitos/Abstracao.astro";
---

<div>
  <ul class="mt-5">
    <li>
      <strong>Objetos e Classes</strong>
      <ol class="list-disc">
        <li>Definição de objetos e sua relação com classes.</li>
        <li>
          Princípios fundamentais da POO.</li>
      </ol>
    </li>

    <li>
      <strong>Herança</strong>
      <ol class="list-disc">
        <li>Entendimento e aplicação do conceito de herança.</li>
        <li>Hierarquias de classes e reutilização de código.</li>
      </ol>
    </li>

    <li>
      <strong>Polimorfismo</strong>
      <ol class="list-disc">
        <li>Exploração do polimorfismo e seus benefícios.</li>
        <li>Flexibilidade na manipulação de objetos.</li>
      </ol>
    </li>

    <li>
      <strong>Abstração</strong>
      <ol class="list-disc">
        <li>Foco nos aspectos essenciais de um objeto.</li>
        <li>Utilização de classes abstratas e interfaces.</li>
      </ol>
    </li>

    <li>
      <strong>Encapsulamento</strong>
      <ol class="list-disc">
        <li>Importância do encapsulamento na POO.</li>
        <li>Utilização de modificadores de acesso para proteger dados.</li>
      </ol>
    </li>
  </ul>
</div>

<ObjClasses/>

<Heranca/>

<Polimorfismo/>

<Abstracao/>

<Encapsulamento/>

<div class="mt-5">
  <h1 class="text-5xl mb-3 font-semibold bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
    Considerações Finais
  </h1>

  <p class="mb-3">A Programação Orientada a Objetos (POO) é fundamental para o desenvolvimento de sistemas modulares e escaláveis. Os conceitos de objetos, classes, herança, polimorfismo e encapsulamento são essenciais para escrever código eficiente e de fácil manutenção.</p>

  <p class="mb-3">A POO promove a reutilização de código, facilita a colaboração entre equipes de desenvolvimento e ajuda a reduzir a complexidade de grandes projetos. Ao dominar esses conceitos, os desenvolvedores podem criar soluções mais elegantes e eficazes para uma ampla variedade de problemas.</p>

  <p class="mb-3">Continue praticando e explorando os princípios da POO para aprimorar suas habilidades de desenvolvimento de software. Obrigado por nos acompanhar e boa jornada na sua aprendizagem em POO!</p>
</div>