---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Introdução à Programação Orientada a Objetos com Java
      </span>
    </h1>
  </div>
  <div>
    <p class="mb-5">
      Bem-vindo ao nosso blog dedicado à Programação Orientada a Objetos (POO) com Java,
      uma iniciativa da turma de 2023.2 do curso de Análise e Desenvolvimento de Sistemas (ADS) da <a href={"https://unifacema.edu.br/"} target="_blank">Unifacema</a>.
      Aqui, você encontrará um guia prático para entender os conceitos fundamentais da POO em Java.
    </p>
  </div>
</section>
